* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Roboto, sans-serif
}

body {
	overflow-x: hidden
}

html {
	scroll-behavior: smooth
}

.fullScreen {
	height: 100vh;
	width: 100vw;
	padding-top: 50px
}

.landing {
	background-color: #787878;
	background-blend-mode: multiply;
	background-image: url(images/background.webp);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center
}

.navbar {
	position: fixed!important;
	display: flex!important;
	flex-direction: row!important;
	align-items: center!important;
	justify-content: space-between!important;
	width: 100vw!important;
	height: 50px!important;
	flex-wrap: nowrap!important;
	background: rgba(255, 255, 255, .3);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, .075);
	backdrop-filter: blur( 8px);
	-webkit-backdrop-filter: blur( 4px);
	border: 1px solid rgba(255, 255, 255, .055);
	padding-left: 40px;
	z-index: 99
}

a {
	text-decoration: none!important;
	color: #000!important;
	font-weight: 700!important
}

.navbar div {
	height: 100%!important;
	min-width: 40%!important;
	display: flex!important;
	flex-direction: row!important;
	align-items: center!important;
	justify-content: space-around!important
}

.shopButton {
	background-color: #805e73;
	border: 3px solid #644658;
	border-radius: 30px;
	height: 80%!important;
	width: 20%!important;
	color: #fff!important;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 400
}

.text {
	background: rgba(255, 255, 255, .055);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, .075);
	backdrop-filter: blur( 8px);
	-webkit-backdrop-filter: blur( 4px);
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, .055);
	margin: auto;
	width: 40vw;
	height: 25vh;
	max-height: 350px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	color: #fff
}

.text h1 {
	font-size: 5.5vw
}

.text h2 {
	font-size: 2.5vw
}

.button {
	transform: translate(-50%, -50%);
	position: absolute;
	left: 50%;
	top: 80%;
	background: rgba(128, 94, 115, .8);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, .075);
	backdrop-filter: blur( 8px);
	-webkit-backdrop-filter: blur( 4px);
	border-radius: 50%;
	border: 5px solid #644658;
	width: 80px;
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: center
}

.material-icons {
	font-size: 70px;
	color: #fff
}

.openings {
	display: flex;
	flex-direction: row;
	padding: 0
}

.openings .content {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-evenly
}

.heading {
	font-weight: 700;
	font-size: 4vw;
	width: 100%;
	text-align: center
}

.cardContainer {
	width: 100%;
	height: 50%;
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	flex-wrap: wrap
}

.contactContainer {
	width: 50%;
	height: 50%;
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	flex-wrap: wrap
}

.card h1 {
	text-align: center;
	font-weight: 700
}

.card h2 {
	text-align: center;
	font-weight: lighter
}

.card {
	margin: 5px;
	padding: 10px;
	background: rgba(128, 94, 115, .02);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, .075);
	backdrop-filter: blur( 4px);
	-webkit-backdrop-filter: blur( 4px);
	border: 1px solid rgba(0, 0, 0);
	border-radius: 10px
}

[data-scroll] {
	transition: all 2s
}

#mapid {
	z-index: 0!important
}

.about {
	justify-content: space-around
}

.aboutContainer {
	width: 70%
}

.aboutContainer h3 {
	word-wrap: wrap
}

.heading[data-scroll=in] {
	opacity: 1;
	transform: translateX(0)
}

.heading[data-scroll=out] {
	opacity: 0;
	transform: translateX(-50vw)
}

.left[data-scroll=in] {
	opacity: 1;
	transform: translateX(0)
}

.left[data-scroll=out] {
	opacity: 0;
	transform: translateX(50vw)
}

.card[data-scroll=in] {
	opacity: 1;
	transform: translateY(0)
}

.card[data-scroll=out] {
	opacity: 0;
	transform: translateY(20vh)
}

.aboutContainer[data-scroll=in] {
	opacity: 1;
	transform: translateY(0)
}

.aboutContainer[data-scroll=out] {
	opacity: 0;
	transform: translateY(20vh)
}

.contact {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-direction: row
}

.contact p {
	margin-left: 10px;
	font-size: 24px;
	color: #805e73
}

.more {
	background: rgba(255, 255, 255, .8);
	border-radius: 50%;
	border: 1px solid #000;
	width: 80px;
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: center
}

.moreIcon {
	color: #000;
	font-size: 70px
}

.content {
	width: 50vw
}

.image {
	width: 50vw;
	background-image: url(images/placeholder.webp);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center right;
	background-size: cover
}

footer {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	width: 100vw;
	height: 100px;
	margin-top: -50px;
	background: rgba(128, 94, 115, .02);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, .075);
	backdrop-filter: blur( 4px);
	-webkit-backdrop-filter: blur( 4px);
	border: 1px solid rgba(255, 255, 255, .055);
	z-index: 99
}

footer .shopButton {
	height: 25%!important;
	width: 150px!important;
	color: #fff!important
}

.footerIcon {
	font-size: 50px;
	color: #805e73
}

.mobileNavBar {
	display: none
}
.rightHand{
    display: none;
}
.mobileMenu{
    display: none;
}
@media screen and (max-width:1000px) {
	html {
		overflow-x: hidden
	}
	footer {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-evenly;
		height: 250px
	}
	footer .shopButton {
		height: 15%!important;
		width: 150px!important;
		color: #fff!important
	}
	footer a {
		margin: 10px
	}
	footer h1 {
		width: 100vw;
		text-align: center
	}
	.openings {
		flex-direction: column
	}
	.navbar {
		display: none!important
	}
	.mobileNavBar {
		display: block;
		position: fixed!important;
		display: flex!important;
		flex-direction: row!important;
        align-items: center!important;
        justify-content: center!important;
		width: 100vw!important;
		height: 50px!important;
		flex-wrap: nowrap!important;
		background: rgba(255, 255, 255, .3);
		box-shadow: 0 8px 32px 0 rgba(31, 38, 135, .075);
		backdrop-filter: blur( 8px);
		-webkit-backdrop-filter: blur( 4px);
		border: 1px solid rgba(255, 255, 255, .055);
        z-index: 99;
        
    }
    .rightHand{
        transition: .4s;
        display: block;
        position:fixed !important;
        box-shadow: -2px -2px 7px 2px rgba(0,0,0,0.3);
        background-color: #fff;
        background-clip: border-box; 
        right: 0px;
        bottom: 0px;
        border-top-left-radius: 80%;
        z-index: 100;
        width: 80px;
        height: 80px;
    }
	.barContainer {
        display: inline-block;
        right: 10px;
        bottom: 10px;
        position: absolute;
	}
	.dropdown {
        width: 180px;
        height: 180px;
        background-color: #fff;
    }
    .open{
        display: inline-block;
    }
    .langMenuMobile{
        display: flex;
        flex-direction:column;
        position: absolute;
        top: 10px;
        width: 30px !important;
        height: 100px;
        right: 0px;
    }
    .langMenuMobile button {
        background: 0 0;
        border-color: transparent;
        height: 100%;
        text-align: center;
    }
    #openingNavMobile{
        position: absolute;
        bottom: 40px;
        width: 100px !important;
        height: 30px !important;
        left: 20px;
        font-size: calc(.7rem + 1vw);
    }
    #contactNavMobile{
        position: absolute;
        bottom: 80px;
        width: 100px !important;
        height: 30px !important;
        left: 30px;
        font-size: calc(.7rem + 1vw);
    }
    #aboutNavMobile{
        position: absolute;
        bottom: 120px;
        width: 100px !important;
        height: 30px !important;
        left: 60px;
        font-size: calc(.7rem + 1vw);
    }
	.bar1,
	.bar2,
	.bar3 {
		width: 35px;
		height: 5px;
		background-color: #000;
		border-radius: 4px;
		border: 1px solid #805e73;
		margin: 6px 0;
		transition: .4s
	}
	.change .bar1 {
		-webkit-transform: rotate(-45deg) translate(-9px, 6px);
		transform: rotate(-45deg) translate(-9px, 6px)
	}
	.change .bar2 {
		opacity: 0
	}
	.change .bar3 {
		-webkit-transform: rotate(45deg) translate(-8px, -8px);
		transform: rotate(45deg) translate(-8px, -8px)
	}
	.shopButtonMobile {
        position: absolute;
        bottom: 5px;
        width: 80px !important;
        height: 30px !important;
        left: 10px;
		font-size: calc(.6rem + 1vw)
	}
	.mobileHeading {
		color: #000;
		margin: 0!important
	}
	.content {
		width: 100vw;
		height: 100vh
	}
	.heading {
		font-size: 8vw
	}
	.image {
		display: none
	}
	.card {
		padding: 15px
	}
	.contact p {
		font-size: 20px
	}
	.footerIcon {
		font-size: 24px
	}
	#mapid {
		display: block;
		height: 50vh;
		width: 100vw
	}
	#secondSection {
		flex-direction: column-reverse;
		height: 150vh
	}
	.contactContainer {
		width: 50%
	}
}

.langMenu button {
	background: 0 0;
	border-color: transparent;
	height: 100%
}

.langMenu {
	height: 100%
}

.langMenu button i {
	font-size: 24px
}

:root {
	--animate-duration: 1s;
	--animate-delay: 1s;
	--animate-repeat: 1
}

.animate__animated {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-duration: var(--animate-duration);
	animation-duration: var(--animate-duration);
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both
}

.animate__rubberBand {
	-webkit-animation-name: rubberBand;
	animation-name: rubberBand
}

.animate__animated.animate__infinite {
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite
}

@-webkit-keyframes rubberBand {
	from {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1)
	}
	30% {
		-webkit-transform: scale3d(1.25, .75, 1);
		transform: scale3d(1.25, .75, 1)
	}
	40% {
		-webkit-transform: scale3d(.75, 1.25, 1);
		transform: scale3d(.75, 1.25, 1)
	}
	50% {
		-webkit-transform: scale3d(1.15, .85, 1);
		transform: scale3d(1.15, .85, 1)
	}
	65% {
		-webkit-transform: scale3d(.95, 1.05, 1);
		transform: scale3d(.95, 1.05, 1)
	}
	75% {
		-webkit-transform: scale3d(1.05, .95, 1);
		transform: scale3d(1.05, .95, 1)
	}
	to {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1)
	}
}

@keyframes rubberBand {
	from {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1)
	}
	30% {
		-webkit-transform: scale3d(1.25, .75, 1);
		transform: scale3d(1.25, .75, 1)
	}
	40% {
		-webkit-transform: scale3d(.75, 1.25, 1);
		transform: scale3d(.75, 1.25, 1)
	}
	50% {
		-webkit-transform: scale3d(1.15, .85, 1);
		transform: scale3d(1.15, .85, 1)
	}
	65% {
		-webkit-transform: scale3d(.95, 1.05, 1);
		transform: scale3d(.95, 1.05, 1)
	}
	75% {
		-webkit-transform: scale3d(1.05, .95, 1);
		transform: scale3d(1.05, .95, 1)
	}
	to {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1)
	}
}

body {
	margin: 0;
	font-size: 1rem;
	font-weight: 400;
	background-color: #fff;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: transparent
}

h1,
h2,
h3 {
	margin-top: 0;
	margin-bottom: .5rem;
	font-weight: 500;
	line-height: 1.2
}

h1 {
	font-size: calc(1.375rem + 1.5vw)
}

@media(min-width:1200px) {
	h1 {
		font-size: 2.5rem
	}
}

h2 {
	font-size: calc(1.325rem + .9vw)
}

@media(min-width:1200px) {
	h2 {
		font-size: 2rem
	}
}

h3 {
	font-size: calc(1.3rem + .6vw)
}

@media(min-width:1200px) {
	h3 {
		font-size: 1.75rem
	}
}

p {
	margin-top: 0;
	margin-bottom: 1rem
}

a {
	color: #1266f1;
	text-decoration: underline
}

a:hover {
	color: #0e52c1
}

button {
	border-radius: 0
}

button:focus {
	outline: 1px dotted;
	outline: 5px auto -webkit-focus-ring-color
}

button {
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit
}

button {
	text-transform: none
}

.navbar {
	position: relative;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding-top: .5rem;
	padding-bottom: .5rem
}

.navbar {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between
}

.card {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
	border: 1px solid rgba(0, 0, 0, .125);
	border-radius: .25rem
}

:root {
	--mdb-font-roboto: "Roboto", sans-serif
}

i.flag:before {
	display: inline-block;
	width: 16px;
	height: 11px;
	content: "";
	background: url(https://mdbootstrap.com/img/svg/flags.png) no-repeat -108px -1976px
}

i.flag:not(.icon) {
	margin: 0 .5em 0 0;
	line-height: 11px;
	text-decoration: inherit;
	vertical-align: baseline;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden
}

i.flag:not(.icon),
i.flag:not(.icon):before {
	display: inline-block;
	width: 16px;
	height: 11px
}

i.flag:not(.icon):before {
	content: "";
	background: url(https://mdbootstrap.com/img/svg/flags.png) no-repeat -108px -1976px
}

i.flag.gb:before {
	background-position: -36px -26px
}

i.flag.hu:before {
	background-position: -36px -598px
}

i.flag.ro:before {
	background-position: -72px -832px
}

.navbar {
	-webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .05);
	box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .05);
	padding-top: .5625rem
}

.card {
	border: 0;
	-webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .05);
	box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .05)
}

@font-face {
	font-family: fontello;
	src: url(../font/fontello.eot?66831935);
	src: url(../font/fontello.eot?66831935#iefix) format('embedded-opentype'), url(../font/fontello.woff2?66831935) format('woff2'), url(../font/fontello.woff?66831935) format('woff'), url(../font/fontello.ttf?66831935) format('truetype'), url(../font/fontello.svg?66831935#fontello) format('svg');
	font-weight: 400;
	font-style: normal
}

[class*=" icon-"]:before,
[class^=icon-]:before {
	font-family: fontello;
	font-style: normal;
	font-weight: 400;
	speak: never;
	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	line-height: 1em;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}

.icon-phone:before {
	content: '\e800'
}

.icon-down-dir:before {
	content: '\e801'
}

.icon-location:before {
	content: '\e802'
}

.icon-instagram:before {
	content: '\f16d'
}

.icon-at:before {
	content: '\f1fa'
}

.icon-facebook-squared:before {
	content: '\f308'
}